body {
  background-color: black;
}

#pokeBall {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  padding-top: 300px;
}



#greatBall {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
}

#fastBall {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#heavyBall {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#lureBall {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#luxuryBall {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#masterBall {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#safariBall {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#ultraBall {
	height: 50px;
	width: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
  }

#container {
  display: flex;
}

#pokeButton {
  flex: 50%;
  background-color: black;
  color: white;
  border: 10px ridge white;
  border-color: silver
}

#pokeButton h2 {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	
}

#upgradeMenu {
  flex: 50%;
  background-color: black;
  color: white;
  border: 10px ridge white;
  border-color: silver
  
}

#pageTitle {
  background-color: black;
  color: white;
  text-align: center;
}

#upgradeMenuTitle {
  text-align: center;
}

#buyButtons {
  background-color: white;
  color: black;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 2px;
}

p {
  text-align: center;
  padding: 0;
  margin: 2px;
}
