body {
  background-color: black;
}

#pokeBall {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  padding-top: 30px;
}

#greatBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.greatBall {
  text-align: center;
}

#fastBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.fastBall {
  text-align: center;
}

#heavyBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.heavyBall {
  text-align: center;
}

#lureBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.lureBall {
  text-align: center;
}

#luxuryBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.luxuryBall {
  text-align: center;
}

#masterBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.masterBall {
  text-align: center;
}

#safariBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.safariBall {
  text-align: center;
}

#duskBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.duskBall {
  text-align: center;
}

#ultraBall {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  padding:7px;
}

.ultraBall {
  text-align: center;
}

#container {
  display: flex;
}

#pokeButton {
  background-color: black;
  color: white;
  border: 5px ridge white;
  border-color: silver;
  width: 30%;
}

#pokeButton h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1px;
}

#upgradeMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: white;
  border: 5px ridge white;
  border-color: silver;
  width: 400px;
}

#pageTitle {
  background-color: black;
  color: white;
  text-align: center;
}

#upgradeMenuTitle {
  text-align: center;
  display: inline;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: larger;
  width: 70%;
}

#buyButtons {
  background-color: white;
  color: black;
  margin-bottom: 15px;
  margin-top: 2px;
}
